body {
    background-image: url("WhatsApp Image 2022-12-01 at 18.54.09.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}
h1 {
    font-family: Lucida Handwriting,cursive;
    color: rgb(12, 2, 1);
}
input {
    border-radius: 20px;
    padding: 10px 20px;
}
button {
    border-radius: 20px;
    padding: 5px 20px;
}